<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "ルームを立てる", new_room_path %>
  </div>
</div>

<div class="rooms">
  <%# 宇宙世紀モノ %>
  <%# category_idが1のカテゴリーを表示 %>
  <div class="category">
    <% @category.each do |category| %>
      <div class="category-name">
        <% if category.id == 1 %>
          <%= category.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# series_idが1以上、15以下のシリーズ名を順番に取り出す %>
  <div class="series">
    <% @series.each do |series| %>
      <div class="series-name">
        <% if series.id >= 1 && series.id <= 15 %>
          <span class="series--name"><%= series.name %></span>
          <% @rooms.each do |room| %>
            <%# seres_idとroomのseries.idが同じであれば、room名を表示 %>
            <% if series.id == room.series_id %>
              <div class="room">
                <div class="room-name">
                  <%= link_to room.name, room_messages_path(room) %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# 宇宙世紀モノ %>
  
  <%# 宇宙世紀以外 %>
  <%# category_idが2のカテゴリーを表示 %>
  <div class="category">
    <% @category.each do |category| %>
      <div class="category-name">
        <% if category.id == 2 %>
          <%= category.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# series_idが16以上、24以下のシリーズ名を順番に取り出す %>
  <div class="series">
    <% @series.each do |series| %>
      <div class="series-name">
        <% if series.id >= 16 && series.id <= 24 %>
          <span class="series--name"><%= series.name %></span>
          <% @rooms.each do |room| %>
            <%# seres_idとroomのseries.idが同じであれば、room名を表示 %>
            <% if series.id == room.series_id %>
              <div class="room">
                <div class="room-name">
                  <a href="#"><%= room.name %></a>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# 宇宙世紀以外 %>

  <%# ガンプラ %>
  <%# category_idが3のカテゴリーを表示 %>
  <div class="category">
    <% @category.each do |category| %>
      <div class="category-name">
        <% if category.id == 3 %>
          <%= category.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# series_idが25以上のシリーズ名を順番に取り出す %>
  <div class="series">
    <% @series.each do |series| %>
      <div class="series-name">
        <% if series.id >= 25 %>
          <span class="series--name"><%= series.name %></span>
          <% @rooms.each do |room| %>
            <%# seres_idとroomのseries.idが同じであれば、room名を表示 %>
            <% if series.id == room.series_id %>
              <div class="room">
                <div class="room-name">
                  <a href="#"><%= room.name %></a>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# ガンプラ %>

</div>
